.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: rgba(224, 91, 91, 0.83);
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.group-2 {
  position: absolute;
  inset: 0;
}
.bmgt-407 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 86px;
  top: 72px;
  width: 271px;
  height: 68px;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 1123px;
  top: 73px;
  width: 181px;
  height: 68px;
}
.about-us {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 862px;
  top: 73px;
  width: 220px;
  height: 67px;
}
.homepage {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 571px;
  top: 72px;
  width: 250px;
  height: 68px;
}
.frame-2 {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
  justify-content: flex-start;
  width: 935px;
  position: absolute;
  left: 252px;
  top: 453px;
}
.frame-1 {
  flex-shrink: 0;
  width: 750px;
  height: 59px;
  position: relative;
}
.let-s-create-a-website-design {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: 0px;
}
.today-let-s-create-a-sample-website-design-in-figma-and-export-its-corresponding-html-and-css-code {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 81px;
}
.group-1 {
  flex-shrink: 0;
  width: 180px;
  height: 57px;
  position: static;
}
.rectangle-1 {
  border-radius: 0px;
  width: 180px;
  height: 57px;
  position: absolute;
  left: 377.5px;
  top: 212px;
  overflow: visible;
}
.get-started {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 393.5px;
  top: 228px;
  width: 147px;
  height: 26px;
}
